.DS_Store
*.m~
*.mat
.DS_Store
*.sct
*.pdf
@cellVision/cellVision example-cava.m
@cellVision/runGridSearch-cava.m
@cellVision/runGridSearchLinear-cava.m
@cellVision/selectTrapTemplate-cava.m
@experimentTrackingGUI/autoSelect-Matt-HP.m
@timelapseTraps/addSecondaryTimelapseChannel-cava-2.m
@timelapseTraps/addSecondaryTimelapseChannel-cava.m
@timelapseTraps/identifyCellObjects-cava.m
@timelapseTraps/identifyCells-cava.m
@timelapseTraps/identifyTrapLocations-cava.m
@timelapseTraps/loadTimelapse-cava.m
@timelapseTraps/returnSingleTrapTimelapse-cava.m
@timelapseTraps/returnSingleTrapTimepoint-cava.m
@timelapseTraps/returnTrapsTimepoint-cava.m
@timelapseTraps/timelapseTraps-cava.m
cExperiment Files/bethany data/hsp104 feb11.ai
cExperiment Files/bethany data/GAL - 2 hour gal10 - kymopgraph normalized.tif
cExperiment Files/bethany data/GAL - 2 hour plots 5 cells.ai
cExperiment Files/bethany data/GAL - 20 hour and 2 hour plots.ai
cExperiment Files/bethany data/GAL - 20hour gal10 - kymopgraph normalized.tif
cExperiment Files/bethany data/GAL - 20hour gal10 - kymopgraph.tif
cExperiment Files/bethany data/GAL - 2hour gal10 kymograph.tif
cExperiment Files/bethany data/GAL - gal fraction induced over time.ai
cExperiment Files/bethany data/hsp104 feb10 kymograph.fig
cExperiment Files/bethany data/hsp104 feb10 kymograph.png
cExperiment Files/bethany data/hsp104 feb10 kymograph.tif
cExperiment Files/bethany data/msn2 plots 2 hour and 18 hour.ai
MattACNotes.m
MattACplay.m
Matt_Seg_GUI_commit_draft.txt
*.csv
*.asv
Scot/Fiji.app/plugins/DeconvolutionLab/DeconvolutionLab_.jar
Scot/Fiji.app/plugins/DeconvolutionLab/FFTWJNIWin32.dll
Scot/Fiji.app/plugins/DeconvolutionLab/FFTWJNIWin64.dll
Scot/Fiji.app/plugins/DeconvolutionLab/Settings
Scot/Fiji.app/plugins/DeconvolutionLab/Wisdom
Scot/Fiji.app/plugins/DeconvolutionLab/libFFTWJNIMac.jnilib
Scot/Fiji.app/plugins/mij.jar
Scot/active contour without edge/description.m
yeah.ps
GeneralFunctions/FileExchangeFucntions/splinefit/html/examples.png
GeneralFunctions/FileExchangeFucntions/splinefit/html/examples_01.png
GeneralFunctions/FileExchangeFucntions/splinefit/html/examples_02.png
GeneralFunctions/FileExchangeFucntions/splinefit/html/examples_03.png
GeneralFunctions/FileExchangeFucntions/splinefit/html/examples_04.png
GeneralFunctions/FileExchangeFucntions/splinefit/html/examples_05.png
GeneralFunctions/FileExchangeFucntions/splinefit/html/examples_06.png
GeneralFunctions/FileExchangeFucntions/splinefit/html/examples.html
GeneralFunctions/FileExchangeFucntions/splinefit/splinefit.png
*.xls
