.DS_Store
*.m~
*.mat
*.mex*
.DS_Store
@cellVision/cellVision example-cava.m
@cellVision/runGridSearch-cava.m
@cellVision/runGridSearchLinear-cava.m
@cellVision/selectTrapTemplate-cava.m
@experimentTrackingGUI/autoSelect-Matt-HP.m
@timelapseTraps/addSecondaryTimelapseChannel-cava-2.m
@timelapseTraps/addSecondaryTimelapseChannel-cava.m
@timelapseTraps/identifyCellObjects-cava.m
@timelapseTraps/identifyCells-cava.m
@timelapseTraps/identifyTrapLocations-cava.m
@timelapseTraps/loadTimelapse-cava.m
@timelapseTraps/returnSingleTrapTimelapse-cava.m
@timelapseTraps/returnSingleTrapTimepoint-cava.m
@timelapseTraps/returnTrapsTimepoint-cava.m
@timelapseTraps/timelapseTraps-cava.m
cExperiment Files/bethany data/hsp104 feb11.ai
cExperiment Files/bethany data/GAL - 2 hour gal10 - kymopgraph normalized.tif
cExperiment Files/bethany data/GAL - 2 hour plots 5 cells.ai
cExperiment Files/bethany data/GAL - 20 hour and 2 hour plots.ai
cExperiment Files/bethany data/GAL - 20hour gal10 - kymopgraph normalized.tif
cExperiment Files/bethany data/GAL - 20hour gal10 - kymopgraph.tif
cExperiment Files/bethany data/GAL - 2hour gal10 kymograph.tif
cExperiment Files/bethany data/GAL - gal fraction induced over time.ai
cExperiment Files/bethany data/hsp104 feb10 kymograph.fig
cExperiment Files/bethany data/hsp104 feb10 kymograph.png
cExperiment Files/bethany data/hsp104 feb10 kymograph.tif
cExperiment Files/bethany data/msn2 plots 2 hour and 18 hour.ai
MattACNotes.m
MattACplay.m
Matt_Seg_GUI_commit_draft.txt
*.asv
